h3 {
    font-family: 'Times New Roman', 'Times', 'serif';
    background-color: rgb(53, 102, 186);
    margin: 20px;
    color: white;
}

.header {
    font-family: 'Times New Roman', 'Times', 'serif';
    color: rgb(53, 102, 186);
}

p {
    font-family: 'Times New Roman', 'Times', 'serif';
    font-size: 20px;
    padding: 10px;
}


/* 
.container {
    float: left;
    margin: 5%;
    width: auto;
} */

section {
    background-color: white;
}

.bgi {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(232, 131, 43, 0.878);
}

.image {
    width: 200px;
    height: 200px;
    margin-top: 5px;
    margin-left: 5px;
    float: left;
    padding: 0px 10px 10px 0px;
}

.fixed-bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(53, 102, 186);
    color: white;
    text-align: center;
    padding: 3px;
    margin-top: 2px;
    border-top-style: solid;
    border-top-color: rgb(235, 26, 11);
}